[submodule "dotfiles/vim/bundle/catppuccin"]
  path = dotfiles/vim/bundle/catppuccin
  url = https://github.com/catppuccin/vim.git
[submodule "dotfiles/vim/bundle/catppucin"]
	path = dotfiles/vim/bundle/catppucin
	url = https://github.com/catppuccin/vim.git
