[submodule "dotfiles/vim/bundle/fugitive"]
	path = dotfiles/vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotfiles/vim/bundle/surround"]
	path = dotfiles/vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dotfiles/vim/bundle/rails"]
	path = dotfiles/vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "dotfiles/vim/bundle/powerline"]
	path = dotfiles/vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "dotfiles/vim/bundle/easymotion"]
	path = dotfiles/vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "dotfiles/vim/bundle/delimitMate"]
	path = dotfiles/vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "dotfiles/vim/bundle/tabular"]
	path = dotfiles/vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "dotfiles/vim/bundle/gist"]
	path = dotfiles/vim/bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "dotfiles/vim/bundle/unimpaired"]
	path = dotfiles/vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "dotfiles/vim/bundle/eunuch"]
	path = dotfiles/vim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "dotfiles/vim/bundle/commentary"]
	path = dotfiles/vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "dotfiles/vim/bundle/ZoomWin"]
	path = dotfiles/vim/bundle/ZoomWin
	url = git://github.com/vim-scripts/ZoomWin.git
[submodule "dotfiles/vim/bundle/buffergator"]
	path = dotfiles/vim/bundle/buffergator
	url = git://github.com/jeetsukumaran/vim-buffergator.git
[submodule "dotfiles/vim/bundle/NrrwRgn"]
	path = dotfiles/vim/bundle/NrrwRgn
	url = git://github.com/chrisbra/NrrwRgn.git
[submodule "dotfiles/vim/bundle/markdown"]
	path = dotfiles/vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "dotfiles/vim/bundle/ragtag"]
	path = dotfiles/vim/bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "dotfiles/vim/bundle/ruby"]
	path = dotfiles/vim/bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "dotfiles/vim/bundle/webapi"]
	path = dotfiles/vim/bundle/webapi
	url = git://github.com/mattn/webapi-vim.git
[submodule "dotfiles/vim/bundle/rtf_pygmentize"]
	path = dotfiles/vim/bundle/rtf_pygmentize
	url = git://github.com/rafaelfranca/rtf_pygmentize.git
[submodule "dotfiles/vim/bundle/rainbow-parentheses"]
	path = dotfiles/vim/bundle/rainbow-parentheses
	url = git@github.com:kien/rainbow_parentheses.vim.git
[submodule "dotfiles/vim/bundle/fireplace"]
	path = dotfiles/vim/bundle/fireplace
	url = git@github.com:tpope/vim-fireplace.git
[submodule "dotfiles/vim/bundle/vim-classpath"]
	path = dotfiles/vim/bundle/vim-classpath
	url = git@github.com:tpope/vim-classpath.git
[submodule "dotfiles/vim/bundle/vim-clojure-static"]
	path = dotfiles/vim/bundle/vim-clojure-static
	url = git@github.com:guns/vim-clojure-static.git
[submodule "dotfiles/vim/bundle/numbers"]
	path = dotfiles/vim/bundle/numbers
	url = git@github.com:myusuf3/numbers.vim.git
[submodule "dotfiles/vim/bundle/vim-fugitive"]
	path = dotfiles/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotfiles/vim/bundle/vim-surround"]
	path = dotfiles/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dotfiles/vim/bundle/vim-rails"]
	path = dotfiles/vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "dotfiles/vim/bundle/vim-powerline"]
	path = dotfiles/vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "dotfiles/vim/bundle/vim-easymotion"]
	path = dotfiles/vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "dotfiles/vim/bundle/gist-vim"]
	path = dotfiles/vim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "dotfiles/vim/bundle/vim-unimpaired"]
	path = dotfiles/vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "dotfiles/vim/bundle/vim-eunuch"]
	path = dotfiles/vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "dotfiles/vim/bundle/vim-commentary"]
	path = dotfiles/vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "dotfiles/vim/bundle/vim-buffergator"]
	path = dotfiles/vim/bundle/vim-buffergator
	url = git://github.com/jeetsukumaran/vim-buffergator.git
[submodule "dotfiles/vim/bundle/vim-markdown"]
	path = dotfiles/vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "dotfiles/vim/bundle/vim-ragtag"]
	path = dotfiles/vim/bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "dotfiles/vim/bundle/vim-ruby"]
	path = dotfiles/vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "dotfiles/vim/bundle/webapi-vim"]
	path = dotfiles/vim/bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule "dotfiles/vim/bundle/rainbow_parentheses.vim"]
	path = dotfiles/vim/bundle/rainbow_parentheses.vim
	url = git@github.com:kien/rainbow_parentheses.vim.git
[submodule "dotfiles/vim/bundle/vim-fireplace"]
	path = dotfiles/vim/bundle/vim-fireplace
	url = git@github.com:tpope/vim-fireplace.git
[submodule "dotfiles/vim/bundle/numbers.vim"]
	path = dotfiles/vim/bundle/numbers.vim
	url = git@github.com:myusuf3/numbers.vim.git
[submodule "dotfiles/vim/bundle/vim2hs"]
	path = dotfiles/vim/bundle/vim2hs
	url = git@github.com:dag/vim2hs.git
[submodule "dotfiles/vim/bundle/vimproc"]
	path = dotfiles/vim/bundle/vimproc
	url = git@github.com:Shougo/vimproc.vim.git
[submodule "dotfiles/vim/bundle/ghcmod-vim"]
	path = dotfiles/vim/bundle/ghcmod-vim
	url = git@github.com:eagletmt/ghcmod-vim.git
[submodule "dotfiles/vim/bundle/vim-textobj-user"]
	path = dotfiles/vim/bundle/vim-textobj-user
	url = git@github.com:kana/vim-textobj-user.git
[submodule "dotfiles/vim/bundle/vim-textobj-rubyblock"]
	path = dotfiles/vim/bundle/vim-textobj-rubyblock
	url = git@github.com:nelstrom/vim-textobj-rubyblock.git
