# key repeat: https://mac-key-repeat.zaymon.dev
defaults write -g InitialKeyRepeat -int 12
defaults write -g KeyRepeat -int 2
# disable press and hold for special characters
defaults write -g ApplePressAndHoldEnabled -bool false

# disable wake for network
# https://twitter.com/thorstenball/status/1736679960784310775

# remove persistent apps from Dock
defaults write "com.apple.dock" "persistent-apps" -array
